#root .slideDark {
  width: 77px;
  height: 25px;
  background: #333;
  margin: 0 0rem 0 0rem;
  position: relative;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.2);

  &:after {
    content: "DARK";
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px white;
    position: absolute;
    top: 0px;
    right: 5.5px;
    z-index: 0;
    font: 8px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
    letter-spacing: 1px;
  }

  &:before {
    content: "LIGHT";
    color: green;
    position: absolute;
    top: 0px;
    left: 5.5px;
    z-index: 0;
    font: 8px/26px Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
  }

  label {
    display: block;
    width: 34px;
    height: 19px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 3px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }

  input[type="checkbox"] {
    visibility: hidden;
    &:checked + label {
      left: 43px;
    }
  }
}

#root nav.navigation .menuIcon .menuDeNavigation ul .btn-darkMODE {
  display: flex;

  &::after {
    display: none !important;
  }
}
