.menuSecondaire {
  width:100vw;
  margin: 2rem auto;
  border-radius: 10px 10px 0px 0px;
  font-size: 12px !important;
  & nav {
    background: $colorGradient;
    border-radius: 450px 10px 300px 15px;
    &::after {
      content : '';
      display: block;
      transform: translateY(4px);
      margin: 0 auto;
      border-radius: 5000px;
      width: 90%;
      height: 2px;
      background: $colorGradient;
    }
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.185);
    & ul {
      display: flex;
      justify-content: left;
      list-style: none;
      margin: 0;
      & li {
        & button {
          cursor: pointer;
          font-family: "Josefin Sans";
          margin: 0;
          text-transform: uppercase;
          padding: 0.9rem 2rem 0.5rem;
          font-weight: 400;
          min-width: 100px;
          background: transparent;
          border: none;
          color: white;

          & .web-icons {
            transform: translate(4px, 1px);
          }
          & .software-icons {
            transform: translate(3px, 2px);
          }
          & .controllers-icons {
            transform: translate(5px, 1.5px);
          }

          &.active-menuSecondaire {
            animation: strok 500ms forwards;

            @keyframes strok {
              from {
                transform: scale(1) translateY(0px);
                opacity: 1;
                border-radius: 0px;
              }
              to {
                transform: scale(1.13) translateY(-0.5px);
                border-radius: 3px;
                opacity: 0.95;
                stroke-dashoffset: 400;
              }
            }

            & svg {
              border-radius: 50%;
            }
            background:  linear-gradient(
              60deg,
              #ffdc80,
              #fcaf45,
              #f77737,
              #f56040,
              #fd1d1d,
              #e1306c,
              #c13584 60%,
              #833ab4,
              #5851db,
              #405de6 120%
            );
            background-size: 100% 100%;
            color: white;
            font-weight: bold;

            &::after {
              content: "";
              display: block;
              margin-top: 0.25rem;
              width: 30%;
              height: 2px;
              background: white;
            }
          }
        }

        & .szh-menu-container {
          & ul {
            & li:hover {
              border-radius: 2px;
              background: $bluesky;
              color: white;
            }
          }
        }
      }
    }
  }
}
