// --- NAVIGATION DU SITE ---

.accueil,
.aPropos,
.competence,
.myProjets,
.contact,
.blog,
.veille,
.tutoriel {
  & .navigation {
    background: linear-gradient(
      60deg,
      #ffdc80,
      #fcaf45,
      #f77737,
      #f56040,
      #fd1d1d,
      #e1306c,
      #c13584 60%,
      #833ab4,
      #5851db,
      #405de6 120%
    );
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0 0 0 0;
      padding: 10px 15px 0 15px;

      padding: 10px 1rem;

      & :nth-child(4) a {
        min-width: 72px;
      }
      & :nth-child(2) a {
        min-width: 112px;
      }

      & li.raccourciMenu {
        display: flex;
        height: 20px;
        color: white;
        font-weight: 300;
        font-size: 1.2rem;
        letter-spacing: 1px;
        transform: scale(1);

        & a {
          display: block;
          text-decoration: none;
          color: white;
        }

        & .active {
          // - Animation du scale -
          animation: hoverNav1 0.15s forwards;
          @keyframes hoverNav1 {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(1);
            }
          }

          &::after {
            display: block;
            position: absolute;
            bottom: 0;
            content: "";
            width: 0%;
            height: 1px;

            background: white;
            box-shadow: 1px -5px 10px 1px rgba(0, 0, 0, 0.226);

            // - Animation du after en pourcentage -
            animation: hoverNav2 0.65s forwards;
            @keyframes hoverNav2 {
              0% {
                width: 0%;
              }
              100% {
                width: 25%;
              }
            }
          }
          text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24);
        }
      }
      & li.homePageIcon {
        margin: 0;
        & .myhomeicon {
          cursor: pointer;
          &:hover {
            & path {
              animation: animesvg 300ms forwards ease-in-out;
              @keyframes animesvg {
                from {
                  fill: white;
                }
                to {
                  fill: $bluesky;
                }
              }
            }
          }
        }
      }
      & li.menuIcon {
        margin: 0 0 0 10px;
        .mymenuicon {
          cursor: pointer;
          &:hover {
            & path {
              animation: animesvg 300ms forwards ease-in-out;
            }
          }
        }

        & .closeMenu {
          cursor: pointer;

          opacity: 0;

          animation: apparitionBtnMenu 2.5s forwards;
          @keyframes apparitionBtnMenu {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.closeMenuOff {
  display: none;
}

// .openMenuOff {
//   display: none;
// }

.openMenu {
  background: transparent;
  border: none;
  padding: 0;
}

.accueil .navigation {
  background: transparent;
  box-shadow: none;
}
