.menuSecondaire {
  // background: linear-gradient(
  //   60deg,
  //   #ffdc80,
  //   #fcaf45,
  //   #f77737,
  //   #f56040,
  //   #fd1d1d,
  //   #e1306c,
  //   #c13584 60%,
  //   #833ab4,
  //   #5851db,
  //   #405de6 120%
  // );
  // background-repeat: no-repeat;
  // background-size: cover;

  // min-height: 100vh;
  // min-width: 100vw;

  margin-top: 2rem;
  font-size: 12px !important;
  & nav {
    background: $centerbanner;
    // backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.185);
    & ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;

      & li {
        & button {
          cursor: pointer;
          font-family: 'Josefin Sans';
          margin: 0;
          text-transform: uppercase;
          padding: 0.65rem 2rem 0.5rem;
          font-weight: 400;
          min-width: 100px;
          background: transparent;
          border: none;

          &.active-menuSecondaire {
            background: $bluesky;
            border-radius: 4px;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.18);
            background-size: 100% 100%;
            color: white;
            animation: animeMenuSecondaire 300ms ease-out;
            text-shadow: 0 -1px 0 $bluesky;
            font-weight: bold;

            @keyframes animeMenuSecondaire {
              15% {
                transform-origin: center center;
                transform: scale(1.2, 1.1);
              }
              40% {
                transform-origin: center center;
                transform: scale(0.95, 0.95);
              }
              75% {
                transform-origin: center center;
                transform: scale(1.05, 1);
              }
              100% {
                transform-origin: center center;
                transform: scale(1, 1);
              }
            }

            &::after {
              content: "";
              display: block;
              margin-top: 0.25rem;
              width: 30%;
              height: 2px;
              background: white;
            }
          }
        }

        & .szh-menu-container {
          & ul {
            & li:hover {
              border-radius: 2px;
              background: $bluesky;
              color: white;
            }
          }
        }
      }
    }
  }
}
