#root .navigation {
  position: relative;
  z-index: 10;

  &:hover {
    filter: saturate(100%);
  }
  & a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  & ::first-letter {
    color: white;
  }

  & .menuDeNavigation {
    position: absolute;
    transform: translate(0px, 0px);
    width: 0px;
    height: 0px;
    top: 0px;
    right: 0px;
    z-index: 4;
    animation: none;
    background: hsla(210, 88%, 69%, 0.8);
    border-radius: 5px;
    border-left: 2px solid rgba(255, 255, 255, 0.747);
    box-shadow: 0 0 10px 0 black;

    animation: apparitionMenu 0.65s forwards;
    @keyframes apparitionMenu {
      0% {
        width: 0px;
        height: 0px;
      }
      100% {
        width: 25%;
        height: 100%;
        min-height: 100vh;
      }
    }

    & ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      text-shadow: 0 0 0;
      opacity: 0;

      animation: apparitionMenu2 0.65s forwards;
      @keyframes apparitionMenu2 {
        0% {
          opacity: 0;
          transform: translateX(100px);
        }
        50% {
          opacity: 0;
        }
        75% {
          opacity: 0.25;
        }
        85% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }

      & li {
        display: block;
        z-index: 6;
        margin: 0.5rem 0;

        & a {
          padding: 10px 20px 10px 0;
        }

        &:hover {
          filter: saturate(100%);

          & a,
          a::first-letter {
            color: $bluesky;
            background: white;
            border-radius: 5px;
          }

          & a {
            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 10px;
              height: 100%;
              width: 5px;
              background: $bluesky;
              box-shadow: 0px 3px 2px -2px #000000;
            }
          }
          text-shadow: 0 0 0;
        }
      }
    }
  }
}

#root .menuIcon {
  animation: none;

  margin-left: 20px;
  height: 20px;
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transform: scale(1);
}

#root .menuDeNavigation .closeMenu {
  background: red;
  display: block;
  border: 1px solid white;
  box-shadow: 2px 2px 5px -1px #000000ab;
  border-radius: 5px;
  margin-bottom: 4rem;

  cursor: pointer;
  & p {
    display: block;
    margin: 0;
  }
}

#root .navigation .menuDeNavigation ul .closeMenu-container {
  border-bottom: 1px solid white;
  margin-bottom: 2.5rem;
  box-shadow: 0px 7px 8px -5px #00000011;
}
