#root .navigation {
  position: relative;
  z-index: 10;

  &:hover {
    filter: saturate(100%);
  }
  & a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  & ::first-letter {
    color: white;
  }

  & .menuDeNavigation {
    position: absolute;
    transform: translate(0px, 0px);
    width: 25%;
    height: 100%;
    min-height: 100vh;
    top: 0px;
    right: -900px;
    z-index: 4;
    animation: none;
    background: hsla(210, 88%, 69%, 0.85);
    border-radius: 5px;
    border-left: 2px solid rgba(255, 255, 255, 0.747);
    box-shadow: 0 0 10px 0 black;

    animation: apparitionMenu 1s both;
    @keyframes apparitionMenu {
      0% {
        right: -900px;
      }
      100% {
        right: 0px;
      }
    }

    & ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      text-shadow: 0 0 0;
      opacity: 0;

      animation: apparitionMenu2 0.65s forwards;
      @keyframes apparitionMenu2 {
        0% {
          opacity: 0;
          transform: translateX(100px);
        }
        50% {
          opacity: 0;
        }
        75% {
          opacity: 0.25;
        }
        85% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }

      & li {
        display: block;
        z-index: 6;
        margin: 0.5rem 0;

        & a {
          padding: 10px 20px 10px 0;
        }

        &:hover {
          filter: saturate(100%);

          & a,
          a::first-letter {
            color: $bluesky;
            background: white;
            border-radius: 5px;
          }

          & a {
            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 10px;
              height: 100%;
              width: 5px;
              background: $bluesky;
            }
          }
          text-shadow: 0 0 0;
        }
      }
    }
  }
}

#root .menuIcon {
  animation: none;

  margin-left: 20px;
  height: 20px;
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transform: scale(1);
}

#root .menuDeNavigation .closeMenu {
  cursor: pointer;
  background: white;
  display: block;
  border: none;
  margin-bottom: 4rem;

  width: 15px;
  height: 15px;

  & .closeMenu-btn {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    transform: translate(-9px, -3px);

    @keyframes animesvg2 {
      from {
        fill: red;
      }
      to {
        fill: #d30000;
      }
    }
    &:hover {
      path {
        animation: animesvg2 220ms forwards ease-in;
      }
    }
  }
}

#root .navigation .menuDeNavigation ul .closeMenu-container {
  border-bottom: 1px solid white;
  margin-bottom: 2.5rem;
  box-shadow: 0px 7px 8px -5px #00000011;
}
