
.accueil {
    background: linear-gradient(60deg, #ffdc80, #fcaf45, #f77737, #f56040, #FD1D1D, #E1306C, #c13584 60%, #833AB4, #5851db , #405DE6 120%);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    width: 100vw;
    
}