// --- PAGE D'ACCUEIL DU SITE ---

// a retirer une fois fonctionnalité mise en place
.accueil-switch {
  text-align: center;
  color: white;
  font-size: 2rem;
  & p {
    margin: 0 auto;
    max-height: 64px;
    transform: rotate(180deg);
    opacity: 0.3;
  }
}

.accueil {
  background: linear-gradient(
    60deg,
    #ffdc80,
    #fcaf45,
    #f77737,
    #f56040,
    #fd1d1d,
    #e1306c,
    #c13584 60%,
    #833ab4,
    #5851db,
    #405de6 120%
  );
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  min-width: 100vw;

  &-information {
    position: relative;
    z-index: 10;
    margin: 2rem auto;
    text-align: center;

    & .information-dev {
      color: white;

      & h1 {
        height: 50px;
        margin: 20px 0 0px 0;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 600;
        font-size: 2.5rem;
        letter-spacing: 1px;

        & .text-effect-binaire {
          font-weight: 100;
          opacity: 0.8;
        }
      }
      & h2 {
        margin: 15px 0 30px 0;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 1.1rem;
        letter-spacing: 2px;

        & span {
          color: $bluesky;
          font-weight: 600;
          filter: saturate(100%);
        }
      }
    }

    & .information-contact {
      & a {
        display: inline-block;
        padding: 10px 0;
        width: 100%;
        max-width: 633px;
        text-decoration: none;
        color: $bluesky;

        border: 1px solid $bluesky;
        border-radius: 4px;
        background: white;

        &:hover {
          transform: scale(1.02);
          filter: saturate(110%);
          @include mouvementBTN;
        }
      }
    }
  }
}
