.about {
  display: flex;
  justify-content: center;
  margin: 0em 10em;

  font-family: "Josefin Sans", "Lato", sans-serif;
}

aside {
  margin-right: 100px;

  & figure {
      margin: 0;
  }

  & .about-text_networks {
    margin-top: -5px;
    width: 470px;

    border: 1px solid white;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 5px 20px 0px rgb(11, 50, 94, 0.2);

    & .about-text {
      width: 470px;
      padding: 30px 0 0 35px;
      border-spacing: 5px 0.5rem;

      font-family: "Lato", "Josefin Sans", sans-serif;
      font-weight: 400;

      & strong {
        font-weight: 900;
        text-decoration: underline;
        text-underline-position: under;
        text-align: left;
      }
    }

    & hr {
      width: 90%;
      opacity: 0.2;
      margin: 55px 20px 0 23px;
      text-align: center;
    }

    & .about-networks {
      display: flex;
      justify-content: space-around;
      margin: 7px 0 7px 0;

      & a img:hover {
        transform: scale(1.1);
      }

      & img {
        filter: grayscale(100%);
        &:hover {
          transform: scale(1);
          filter: grayscale(0%);
          filter: saturate(200%);
        }
      }
    }
  }
}

article {
  padding: 94px 0 0 0;
  width: 700px;

  & .aboutMe {
    & h2 {
      font-size: 48px;
      font-weight: 700;
      margin: 0;
      max-height: 48px;
      letter-spacing: 10px;
      white-space: nowrap;
    }

    & h3 {
      font-size: 18px;
      font-weight: 300;
      margin: 35px 0 60px 0;
      color: $gray;
      max-height: 19px;
      letter-spacing: 10px;
    }

    & h4 {
      font-size: 18px;
      font-weight: 300;
      margin: 30px 0 50px 0;
      color: $gray;
      max-height: 19px;
      letter-spacing: 5px;
    }

    & > p {
      margin: 0 0 0 0;
      height: 190px;
      text-align: justify;
      color: $gray;
      font-weight: 300;
    }
  }
}

.skill-bars {
  padding: 0px 30px 15px 30px;
  width: 100%;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  max-height: 255px;

  ::selection {
    color: #fff;
    background: $bluesky;
  }

  & .bar {
    margin: 15px 0;

    &:first-child {
      margin-top: 0px;
    }

    & .info {
      margin-bottom: 25px;
    }

    & .info span {
      font-weight: 200;
      font-size: 16px;
      opacity: 0;
      animation: showText 0.5s 1s linear forwards;
    }

    & .progress-line {
      height: 4px;
      width: 100%;
      background: #f0f0f0;
      position: relative;
      transform: scaleX(0);
      transform-origin: left;
      border-radius: 10px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
        0 1px rgba(255, 255, 255, 0.8);
      animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    }
  }

  @keyframes showText {
    100% {
      opacity: 1;
    }
  }

  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }

  // OFF default ON on scroll
  .bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: $bluesky;
    box-shadow: 0 1px 15px 0px $bluesky;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }

  .bar .progress-line.htmlcss span {
    width: 90%;
  }

  .bar .progress-line.js span {
    width: 40%;
  }

  .bar .progress-line.sql span {
    width: 25%;
  }

  .bar .progress-line.design span {
    width: 95%;
  }

  .progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: $bluesky;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }

  .progress-line span::after {
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 300;
    background: $bluesky;
    box-shadow: 0 0 4px 0 $bluesky;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }

  @keyframes showText2 {
    100% {
      opacity: 1;
    }
  }

  .progress-line.htmlcss span::after {
    content: "90 %";
  }

  .progress-line.js span::after {
    content: "40 %";
  }

  .progress-line.sql span::after {
    content: "25 %";
  }

  .progress-line.design span::after {
    content: "95 %";
  }

  .nameskill {
    position: relative;
    top: 18px;
    color: #727272;
  }
}

.aboutMe-downloadcv {
    text-align: center;
  & a {
    display: block;
    padding: 10px 0;
    margin-top: 1.6em;

    font-size: 17px;
    font-weight: 400;
    border: 1.5px solid white;
    border-radius: 3px;
    background-color: $bluesky;
    color: white;
    text-decoration: none;

    transition: all .22s ease-out;

    &:hover {

      transition: all .3s ease-in;  
      transform: translateX(3px);
      box-shadow: 0px 0px 20px 0px $bluesky;
      filter: saturate(100%);

    }
  }
}
