.EXP-about {
  text-align: center;
  padding: 10px 0;

  & .btn-exp-about {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    background: transparent;
    padding: 0 5px 0px 5px;

    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
    transition: transform 0.2s ease-in-out;

    & svg {
      transform: translateY(2px);
    }
  }
}
