.contact-container {
  display: flex;
  flex-direction: column;

  margin: 2em 25em 0 10em;

  &:after {
    content: "";
    height: 730px;
    width: 730px;
    background: linear-gradient(
      60deg,
      #ffdc80,
      #fcaf45,
      #f77737,
      #f56040,
      #fd1d1d,
      #e1306c,
      #c13584 60%,
      #833ab4,
      #5851db,
      #405de6 120%
    );
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: -460px;
    z-index: -10;
    animation: contactAnim 10s alternate infinite;

    @keyframes contactAnim {
      50% {
        transform: scale(1.01);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  & .contact-legend {
    & h2 {
      font-size: 40px;
      letter-spacing: 2px;
      font-weight: 900;
      margin: 0 0 40px 0;
      font-style: italic;

      white-space: nowrap;

      &::first-letter {
        letter-spacing: 0;
        font-size: 50px;
        color: #7272728c;
        font-weight: 600;
        font-style: normal;
      }

      & span {
        color: $gray;
        font-size: 35px;
        font-weight: 300;
      }

      & em {
        color: $gray;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 10px;
        font-style: normal;
        margin-left: 1.8em;
      }
    }

    & h3 {
      margin: 0 0 100px 0;
      color: $gray;
      font-weight: 300;
      letter-spacing: 1.5px;
      font-style: italic;
    }
  }
}

.contact-form_contact {
  display: flex;
  justify-content: space-between;
}

.formulaire {
  width: 100%;
  height: auto;
  margin-right: 2rem;

  & input,
  textarea {
    border: none;
    border-bottom: 2px solid rgba($bluesky, 0.5);

    width: 100%;
    max-width: 500px;
    height: 31px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.281);
    margin-bottom: 40px;

    &:focus {
      outline: none;
      border: 0.5px solid $bluesky;
    }
  }

  & textarea {
    height: 150px;
    margin-bottom: 2em;
  }

  // & input:invalid:focus {
  //   border: 1px solid rgb(255, 0, 0, 0.4);
  //   background-color: rgb(255, 0, 0, 0.05);
  //   animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  //   transform: translate3d(0, 0, 0);
  // }
  // @keyframes shake {
  //   10%,
  //   90% {
  //     transform: translate3d(-1px, 0, 0);
  //   }

  //   20%,
  //   80% {
  //     transform: translate3d(2px, 0, 0);
  //   }

  //   30%,
  //   50%,
  //   70% {
  //     transform: translate3d(-4px, 0, 0);
  //   }

  //   40%,
  //   60% {
  //     transform: translate3d(4px, 0, 0);
  //   }
  // }

  // & span {
  //   opacity: 0;
  //   visibility: hidden;
  //   position: relative;
  //   top: 0.7em;
  // }

  // & input:invalid ~ span {
  //   display: flex;
  //   color: red;
  //   transition: 0.4s opacity linear;
  // }

  // & input:invalid:focus ~ span {
  //   visibility: visible;
  //   opacity: 1;
  // }
}

.spaceform {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 1em;

  & span {
    align-self: flex-start;
    margin: 0 0 0 1.8em;
    height: 35px;
  }
}

.buttonsubmit {
  & button {
    max-width: 500px;
    font-size: 14px;
    font-weight: 400;
    border: 1.5px solid white;
    border-radius: 7px;
    background-color: $bluesky;
    letter-spacing: 1px;

    color: white;
    text-align: center;

    padding: 0.5em 1em 0.4em 1em;
    width: 100%;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
      box-shadow: 0px 0px 30px 0px $bluesky;
      filter: saturate(100%);

      transform-origin: top center;
      animation-name: swing;
      animation-duration: 1s;
      animation-fill-mode: both;

      @keyframes swing {
        20% {
          transform: rotate3d(0, 0, 1, 1deg);
        }

        40% {
          transform: rotate3d(0, 0, 1, -1deg);
        }

        60% {
          transform: rotate3d(0, 0, 1, 0.5deg);
        }
      }
    }
  }
}

.contact-text {
  position: absolute;
  top: 35%;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  color: white;

  & .icontxt {
    display: flex;
    align-items: center;

    & img {
      margin-right: 2em;
      text-align: center;
      width: 14px;
      height: auto;
    }

    & p {
      font-size: 16px;
      font-weight: 300;
    }
  }

  & :last-child img {
    width: 12px;
    margin-left: 2px;
    margin-bottom: 5px;
  }

  & .icon1 {
    transform: translate(-15px, -10px);
  }

  & .icon2 {
    transform: translate(-50px, -15px);
  }

  & .icon3 {
    transform: translate(-5px, 0px);
  }

  & .icontxt p {
    cursor: pointer;
    transition: all .15s ease-in-out;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      transition: all .3s ease-in-out;
      transform: translateX(3px);

      &::after {
        transition: all .3s ease-in-out;
        content: '';
        display: block;
        width: 25%;
        height: 2px;
        position: absolute;
        bottom: -6px;
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.MAP,
.MAP-S {
  border: 1px solid $bluesky;
  border-radius: 15px;

  max-width: 500px;
}

.MAP-S {
  display: none;
}

#root 
.contact 
.contact-container 
.contact-form_contact
.formulaire
.spaceForm.error-form {
  & span {
    display: block;
    text-align: center;
    visibility: visible;
    opacity: 1;
    color: white;
    background: red!important;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    padding: 10px 0;
  }
}

#root 
.contact 
.contact-container 
.contact-form_contact
.formulaire
.spaceForm.succes-form {
  & span {
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: center;
    visibility: visible;
    opacity: 1;
    color: white;
    background: #008000!important;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    padding: 10px 0;
  }
}
