.myProjets {
  div.standBy {
    & p.standByP1 {
      text-align: center;
      font-size: 2rem;
      padding: 10px 0;
      margin-top: 5rem;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      color: white;
      background: $bluesky;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    }
    & p.standByP2 {
      text-align: center;
      & i {
        font-size: 5rem;
        color: $bluesky;
        animation: standBY 1.2s linear infinite;

        @keyframes standBY {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
