.tutoriel {
    & .tutoriel-start {
        margin : 0 1rem;
    }
    & .container-main {
        display         : flex;
        justify-content : space-between;
        margin          : 1rem;

        & .cours,
          .chapitre {
            padding : 10px;
            border  : 2px solid black;
        }

        & .cours {
            width      : 1400px;
            text-align : justify;
            padding    : 10px 20px;
        }

        & .chapitre {
            width      : 130px;
        }
    }

    & .progress-bar {
        display               : grid;
        grid-template-rows    : 1fr;
        grid-template-columns : 1fr 1fr 1fr 1fr;
        margin                : 1rem 1rem 5rem 1rem;
        & span {

            width   : 100%;
            height  : 20px;
            border  : 2px solid black;
        }
    }

    & .title-start {
        margin          : 2rem 1rem 5rem 1rem;;
        text-align      : center;
    }
}