.tutoriel {
    & .tutoriel-icons {
        margin               : 2rem 0;
        text-align           : center;
        & .lvl1{
            position: relative;
            & em {
                padding       : 5px;
                display       : block;
                position      : absolute;
                top           : 20%;
                right         : 10px;
                width         : 200px;
                height        : 30px;
                border        : 2px solid rgb(255, 255, 255);
                border-radius : 10px;
                background    : $white;
                color         : $bluesky;
            }
        }
        & .lvl2{
            position: relative;
            & em {
                padding       : 5px;
                display       : block;
                position      : absolute;
                top           : 20%;
                right         : 10px;
                width         : 200px;
                height        : 30px;
                border        : 2px solid rgb(255, 255, 255);
                border-radius : 10px;
                background    : $white;
                color         : $bluesky;
            }
        }
        & .lvl3{
            position: relative;
            & em {
                padding       : 5px;
                display       : block;
                position      : absolute;
                top           : 20%;
                right         : 10px;
                width         : 200px;
                height        : 30px;
                border        : 2px solid rgb(255, 255, 255);
                border-radius : 10px;
                background    : $white;
                color         : $bluesky;
            }
        }
        & .intituler {
            border-radius    : 10px;
            font-weight      : 900;
            background       : #f8f9fb;
            margin           : 0;
            padding          : 10px;
            color            : $bluesky;
        }
        & .intituler2 {
            background       : $bluesky;
            width            : 100%;
            padding          : 10px 150px;
            border-radius    : 10px;
            color            : $white;
        }
        & .tuto-base {
            padding          : 1rem ;
            color            : $white;
            background       : rgb(0, 132, 255);
        }
        & .tuto-avancer {
            padding          : 1rem ;
            color            : $white;
            background       : rgb(255, 136, 0); 
        }
        & .tuto-pro {
            padding          : 1rem ;
            color            : $white;
            background       : rgb(255, 8, 0); 
        }
        & .icon-tutoriel {
            cursor           : pointer;
            display          : block;
            text-align       : center;
            border-top       : 2px solid $bluesky;
            border-right     : 2px solid $bluesky;
            border-left      : 2px solid $bluesky;


            border-color     : $bluesky;
            border-radius    : 5px;
        }
        & .icon-tutoriel-end {
            border-bottom    : 2px solid $bluesky;
        }
        & .tuto-base-container {
            margin           : 0 auto 5rem auto;
            display          : flex;
            flex-direction   : column;
            justify-content  : space-around;
        }
        & .tuto-avancer-container {
            margin           :  0 auto;
            display          : flex;
            flex-direction   : row-reverse;
            justify-content  : space-around;
        }
        & .tuto-avancer-container2 {
            margin           : 0 auto 5rem auto;
        }
    }
}