// ############   VEILLE    ##############
@media only screen and (max-width: 1700px) {
  body .veille {
    & .article-cards-container {
      & .row {
        & .article-card {
          width: 700px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1520px) {
  body .veille {
    & .article-cards-container {
      & .row {
        & .article-card {
          width: 600px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  body .veille {
    & .article-cards-container {
      & .row {
        & .article-card {
          width: 500px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
    body .veille {
      & .article-cards-container {
        & .row {
            display               : grid;
            grid-template-columns : 1fr;
          & .article-card {
            width: 95%;
          }
        }
      }
    }
  
}
@media only screen and (max-width: 500px) {
  body .veille {
    & .article-cards-container {
      & .row {
        & .article-card {
          & .header-card {
            display: block;
          }
        }
      }
    }
  }

}
// #######################################


// ############  TUTORIEL   ##############
@media only screen and (max-width: 800px) {
  body .tutoriel {
    & .tutoriel-icons {
      & .intituler2 {
        padding: 10px 50px;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  body .tutoriel {
    & .tutoriel-icons {
      & .intituler2 {
        padding: 10px 25px;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  body .tutoriel {
    & .tutoriel-icons {
      & .lvl1, .lvl2, .lvl3 {
       & em {
        top           : 40px;
        right         : 0;
        margin        : 0 auto;
       }
      }
      & .lvl1 em {
        background    : $white;
        border        : 2px solid rgb(0, 132, 255);
      }

      & .lvl2 em {
        background    : $white;
        border        : 2px solid rgb(255, 136, 0);
      }

      & .lvl3 em {
        background    : $white;
        border        : 2px solid rgb(255, 8, 0);
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  body .tutoriel {
    & .tutoriel-icons {
      & .icon-tutoriel {
        & svg {
          filter      :saturate(100%);
        }
      }
    }
  }
}
// #######################################