// ############   VEILLE    ##############
@media only screen and (max-width: 1700px) {
  body .veille {
    & .article-cards-container {
      & .row {
        & .article-card {
          width: 700px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1520px) {
  body .veille {
    & .article-cards-container {
      & .row {
        & .article-card {
          width: 600px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  body .veille {
    & .article-cards-container {
      & .row {
        & .article-card {
          width: 500px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
    body .veille {
      & .article-cards-container {
        & .row {
            display               : grid;
            grid-template-columns : 1fr;
          & .article-card {
            width: 95%;
          }
        }
      }
    }
  
}
@media only screen and (max-width: 500px) {
  body .veille {
    & .article-cards-container {
      & .row {
        & .article-card {
          & .header-card {
            display: block;
          }
        }
      }
    }
  }

}
// #######################################


// ############  TUTORIEL   ##############
@media only screen and (max-width: 800px) {
  body .tutoriel {
    & .tutoriel-icons {
      & .intituler2 {
        padding: 10px 50px;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  body .tutoriel {
    & .tutoriel-icons {
      & .intituler2 {
        padding: 10px 25px;
      }
    }
  }
}

// #######################################