// ############   ACCUEIL   ##############
@media only screen and (min-width: 1200px) {
  .accueil {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & .accueil-information {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      margin: 0;

      & .information-dev {
        width: 400px;

        & h1 {
          height: 45px;
        }
      }

      & .information-contact a {
        width: 60%;
      }
    }
  }
}
@media only screen and (min-width: 880px) and (max-width: 1199px) {
  .accueil {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & .accueil-information {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      margin: 0;

      & .information-dev {
        width: 400px;

        & h1 {
          height: 45px;
        }
      }

      & .information-contact a {
        width: 60%;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .accueil {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & .accueil-information {
      & .information-image img {
        width: 460px;
      }
    }
  }
}
@media only screen and (max-width: 645px) {
  .accueil {
    & .accueil-information {
      & .information-image img {
        margin: 0 auto;
        max-width: 90%;
        height: auto;
      }
      & .information-contact a {
        width: 80%;

        &:hover {
          transition: 0.3s all ease-in-out;
          animation-duration: 0s;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .accueil {
    & .accueil-information {
      & .information-dev {
        & h1 {
          font-size: 2.38rem;
        }
      }
      & .information-image img {
        max-width: 95%;
      }
      & .information-contact a {
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 460px) {
  .accueil {
    & .accueil-information {
      & .information-dev {
        & h2 {
          margin-bottom: 1rem;
          margin-top: 0rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 380px) {
  .accueil {
    & .accueil-information {
      & .information-dev {
        & h1 {
          margin: 40px 0 0 0;
          font-size: 2rem;
        }
        & h2 {
          font-size: 0.9rem;
        }
      }
      & .information-contact a {
        width: 95%;
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  .accueil {
    & .accueil-information {
      & .information-dev {
        & h1 {
          margin: 20px 0 0 0;
          height: 40px;
          font-size: 1.6rem;
        }
        & h2 {
          font-size: 0.75rem;
        }
      }
      & .information-contact a {
        width: 95%;
      }
    }
  }
}
// #######################################

// ############  A PROPOS   ##############
@media only screen and (max-width: 1070px) {
  div.about {
    flex-direction: column;
    margin: 1rem 10rem;

    & aside {
      margin: 0 auto;
      width: 100%;
      & figure {
        width: 100%;
        & img {
          width: 100%;
          max-width: none;
          height: auto;
          object-fit: cover;
          text-align: center;
        }
        &::after {
          width: auto;
          max-width: none;
          border-top: none;
          z-index: 2;
          max-height: 70%;
          box-shadow: 2px 15px 20px -20px rgb(11, 50, 94, 0.2);
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: 1;
          bottom: -3px;
          left: 0px;
          right: 0;
          width: 100%;
          height: 100%;
          max-height: 70%;
          background: transparent;
          border-top: 7px solid $bluesky;
          border-radius: 5px 5px 0 0;
          box-shadow: 2px -10px 20px 0px rgb(11, 50, 94, 0.2);
        }
      }
      & .about-text_networks {
        width: 100%;
      }
      & .about-text {
        margin: 0 auto;
        width: 100%;
      }
    }
    & article {
      width: 100%;

      & .aboutMe {
        & h4 {
          margin: 30px 0 40px 0;
        }

        & > p {
          height: auto;
        }
      }
    }
  }

  div.about .aboutMe-downloadcv {
    & a {
      margin-top: 2rem;
    }
  }
}
@media only screen and (max-width: 815px) {
  div.about {
    flex-direction: column;
    margin: 1rem 6rem;
  }
}
@media only screen and (max-width: 680px) {
  div.about {
    flex-direction: column;
    margin: 1rem 3rem;
  }
}
@media only screen and (max-width: 590px) {
  div.about {
    flex-direction: column;
    margin: 1rem 1.8rem;

    & aside {
      & .about-text_networks {
        font-size: 0.8rem;
        & .about-text {
          padding-left: 50px;
        }
      }
    }
    & article {
      .aboutMe {
        h2 {
          font-size: 40px;
        }
        h3 {
          font-size: 17px;
          letter-spacing: 7px;
        }
        & > p {
          height: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 530px) {
  div.about {
    flex-direction: column;
    margin: 1rem 1.5rem;

    & aside {
      & .about-text_networks {
        & .about-text {
          padding-left: 40px;
        }
      }
    }
    & article {
      .aboutMe {
        h3 {
          letter-spacing: 5px;
        }
        & .skill-bars {
          & .bar {
            & .info {
              & .nameskill {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 460px) {
  div.about {
    flex-direction: column;
    margin: 1rem 1rem;

    & aside {
      & .about-text_networks {
        & .about-text {
          padding-left: 15px;
        }
      }
    }
    & article {
      .aboutMe {
        h2 {
          font-size: 30px;
        }
        h3 {
          font-size: 16px;
        }
      }
    }
  }
}
@media only screen and (max-width: 420px) {
  div.about {
    flex-direction: column;
    margin: 1rem 0.8rem;

    & aside {
      & .about-text_networks {
        & .about-text {
          font-size: 0.6rem;
          padding-left: 15px;
        }
      }
    }
    & article {
      .aboutMe {
        h2 {
          font-size: 29px;
        }
        h3 {
          font-size: 15px;
          letter-spacing: 5px;
        }
        & > p {
          height: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  div.about {
    & article {
      .aboutMe {
        h3 {
          letter-spacing: 5px;
        }
        & .skill-bars {
          & .bar {
            & .info {
              & .nameskill {
                font-size: 9.5px;
              }
            }
            & .progress-line {
              & span {
                &::after {
                  padding: 3px 5px;
                  top: -25px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 370px) {
  div.about {
    flex-direction: column;
    margin: 1rem 0.6rem;

    & aside {
      & .about-text_networks {
        & .about-text {
          font-size: 0.5rem;
          padding-left: 0px;
        }
      }
    }
    & article {
      .aboutMe {
        h2 {
          font-size: 25px;
        }
        h3 {
          font-size: 14px;
          letter-spacing: 4px;
        }
        & > p {
          height: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 330px) {
  div.about {
    flex-direction: column;
    margin: 1rem 0.6rem;

    & aside {
      & .about-text_networks {
        & hr {
          margin-top: 20px;
        }
        & .about-text {
          display: none;
        }
      }
    }
    & article {
      .aboutMe {
        h2 {
          font-size: 20px;
        }
        h3 {
          font-size: 13px;
          letter-spacing: 3px;
        }
        & > p {
          height: 100%;
        }
        & .skill-bars {
          & .bar {
            & .info {
              & .nameskill {
                font-size: 12px;
              }
            }
            & .progress-line {
              & span {
                &::after {
                  display: none;
                }
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
// #######################################

// ##########   COMPETENCE   #############
@media only screen and (max-width: 1342px) {
  div.EXP {
    padding: 3em 2em 3em 2em;
  }
}
@media only screen and (max-width: 1090px) {
  div.EXP {
    & #EXP-list {
     & .EXP-list-L .first-EXP,
     & .EXP-list-R .first-EXP {
      min-height: 180px;
     }
    }
  }
}
@media only screen and (max-width: 750px) {
  div.EXP {
    padding: 3em 2em 3em 2em;

    & #EXP-list {
      flex-direction: column;
      & h4 {
        text-align: center;
        display: block;
        background: $bluesky;
        border-radius: 5px;
        padding: 11px 20px 8px 10px;
        color: white;
      }
    }
    & .EXP-list-L {
      margin-right: 0em;
      margin-bottom: 4em;
    }

    & .EXP-legend h2 {
      white-space: normal;

      & em {
        letter-spacing: 3px;
      }
    }
  }
}
@media only screen and (max-width: 740px) {
  div.EXP {
    & h2 {
      text-align: center;
      & em {
        font-size: 17px;
      }
    }
    & h3 {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 570px) {
  div.EXP {
    padding: 3em 1em 3em 1em;
    & .EXP-list-L {
      margin-right: 0em;
      margin-bottom: 4em;
    }

    & .EXP-legend {
      text-align: center;
      & h2 {
        margin: 0 0 30px 0;
        white-space: normal;
        &::first-letter {
          font-size: 40px;
        }
        & span {
          font-size: 25px;
        }
        & em {
          display: block;
          margin-top: 1.2rem;
          letter-spacing: 4px;
        }
      }
      & h3 {
        font-size: 1rem;
        margin: 0 0 60px;
      }
    }
  }
}
@media only screen and (max-width: 365px) {
  div.EXP {
    & .EXP-legend {
      & h2 {
        & em {
          letter-spacing: 1.8px;
        }
      }
    }
  }
}
@media only screen and (max-width: 300px) {
  div.EXP {
    padding: 3em 0.5em 3em 0.5em;
    & .EXP-legend {
      & h2 {
        & em {
          letter-spacing: 1.5px;
        }
      }
    }
  }
}
// #######################################

// #########    NAVIGATION    ############
@media only screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    & ul {
      justify-content: right;
      width: 800px;
    }

    & li {
      text-align: right;
      margin: 0 2rem;
    }
    & li.homePageIcon {
      margin: 0 16px 0 0;
      & img {
        width: 15px;
        height: 15px;
      }
    }

    .navigation--modifier {
      width: 280px;
      height: 1px;
    }
  }

  #root .slideDark {
    margin: 0 0rem 0 5.7rem;
    & input[type="checkbox"]:checked + label {
      left: 40px;
    }
  }
}
@media only screen and (min-width: 880px) and (max-width: 1199px) {
  .navigation {
    display: flex;
    justify-content: space-between;

    & ul {
      justify-content: space-around;
      width: 100%;
    }

    & li {
      text-align: right;
      margin: 0 2rem;
    }
  }

  #root .slideDark {
    margin: 0 0rem 0 5.5rem;
  }
}
@media only screen and (max-width: 880px) {
  #root .myProjets,
  .accueil,
  .competence,
  .aPropos,
  .contact {
    & .navigation {
      & ul {
        justify-content: space-between;
        padding: 10px 1.2rem;
      }
      & li {
        text-align: right;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  #root .myProjets,
  .accueil,
  .competence,
  .aPropos,
  .contact {
    & .navigation {
      & ul {
        padding: 10px 1.1rem;
        & :nth-child(4) a {
          min-width: 64px;
        }
        & :nth-child(2) a {
          min-width: 100px;
        }
        & li.raccourciMenu {
          font-size: 1.1rem;
        }
      }
      & li.menuIcon .menuDeNavigation {
        ul {
          padding: 10px 1.2rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  #root .myProjets,
  .accueil,
  .competence,
  .aPropos,
  .contact {
    & .navigation {
      ul {
        justify-content: space-between;
        padding: 10px 2rem;
        & li {
          font-size: 1.2rem;
        }
        & li.raccourciMenu {
          display: none;
        }
      }
      & .menuDeNavigation {
        ul {
          padding: 10px 0.5rem;
          & li {
            &:hover {
              animation: none !important;
            }
          }
        }
      }
    }
  }
}
// #######################################

// ############   CONTACT   ##############
@media only screen and (max-width: 1400px) {
  body .contact-form_contact {
    display: block;

    & .contact-map {
      margin-top: 5rem;

      & iframe {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  .contact .contact-container {
    margin: 2em 20em 0 5em;
  }
}
@media only screen and (max-width: 950px) {
  .contact .contact-container {
    .contact-map {
      text-align: center;
    }
  }
}
@media only screen and (max-height: 871px) {
  .contact .contact-container {
    margin: 2em 1em 0 1em;
    .formulaire input,
    textarea,
    button {
      margin: 0 auto 40px auto;
    }

    .formulaire span {
      margin: 0 auto 0px auto;
    }

    & .contact-legend {
      text-align: center;
      & h2 {
        & em {
          display: block;
          margin: 2rem 0 0 0;
        }
      }
      & h3 {
        font-size: 1rem;
      }
    }

    &:after {
      display: none;
    }
  }

  .formulaire .buttonsubmit {
    & button {
      &:hover {
        box-shadow: 0px 0px 10px 0px $bluesky;
        transform: scale(1);
        animation-duration: 0s;
        transform-origin: center;
      }
    }
  }

  .contact-map {
    text-align: center;
  }

  .contact .contact-text {
    box-shadow: 0px -1px 10px 0 rgba(0, 0, 0, 0.384);
    position: sticky;
    height: auto;
    width: 100%;
    margin: 2rem 0 0 0;
    padding: 0 10%;
    background: $gray;

    & .icontxt p {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &::first-letter {
        color: $bluesky;
        text-transform: uppercase;
      }

      &:hover {
        transition: all 0.3s ease-in-out;
        transform: translateX(5px);

        &::after {
          transition: all 0.3s ease-in-out;
          content: "";
          display: block;
          width: 25%;
          height: 2px;
          position: absolute;
          bottom: -6px;
          background: rgba(255, 255, 255, 0.7);
        }
      }
    }

    & .icon1,
    .icon2,
    .icon3 {
      transform: translate(0, 0);
    }

    & .icon3 img {
      transform: translateY(3px);
    }
    & .icon2 img {
      transform: translateY(2px);
    }
    & .icon1 img {
      transform: translateY(-5px);
    }
  }
}
@media only screen and (max-height: 871px) and (min-width: 740px) {
  .contact .contact-container {
    & .formulaire {
      max-width: 500px;
    }
    & .contact-form_contact {
      justify-content: space-around;
    }
  }
}
@media only screen and (max-height: 871px) and (max-width: 1400px) {
  .contact .contact-container {
    & .formulaire {
      margin: 0 auto;
    }
    & .contact-form_contact {
      justify-content: space-around;
    }
  }
}
@media only screen and (max-width: 740px) {
  .contact .contact-container {
    margin: 2em 1em 0 1em;
    .formulaire input,
    textarea,
    button {
      margin: 0 auto 40px auto;
    }

    .formulaire span {
      margin: 0 auto 0px auto;
    }

    & .contact-legend {
      text-align: center;
      & h2 {
        & em {
          display: block;
          margin: 2rem 0 0 0;
        }
      }
      & h3 {
        font-size: 1rem;
      }
    }

    &:after {
      display: none;
    }
  }

  .formulaire .buttonsubmit {
    & button {
      &:hover {
        box-shadow: 0px 0px 10px 0px $bluesky;
        transform: scale(1);
        animation-duration: 0s;
        transform-origin: center;
      }
    }
  }

  .contact-map {
    text-align: center;
  }

  .contact .contact-text {
    box-shadow: 0px -1px 10px 0 rgba(0, 0, 0, 0.384);
    position: sticky;
    height: auto;
    width: 100%;
    margin: 2rem 0 0 0;
    padding: 0 10%;
    background: $gray;

    & .icontxt p {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &::first-letter {
        color: $bluesky;
        text-transform: uppercase;
      }

      &:hover {
        transition: all 0.3s ease-in-out;
        transform: translateX(5px);

        &::after {
          transition: all 0.3s ease-in-out;
          content: "";
          display: block;
          width: 25%;
          height: 2px;
          position: absolute;
          bottom: -6px;
          background: rgba(255, 255, 255, 0.7);
        }
      }
    }

    & .icon1,
    .icon2,
    .icon3 {
      transform: translate(0, 0);
    }

    & .icon3 img {
      transform: translateY(3px);
    }
    & .icon2 img {
      transform: translateY(2px);
    }
    & .icon1 img {
      transform: translateY(-5px);
    }
  }
}
@media only screen and (max-width: 400px) {
  .contact .contact-container {
    margin: 2em 1em 0 1em;

    & .contact-legend {
      & h2 {
        & em {
          letter-spacing: 4px;
        }
      }
      & h3 {
        font-size: 12px;
        margin: 1rem 0;
      }
    }
  }
}
// #######################################
