// ############   ACCUEIL   ##############
@media only screen and (min-width: 1200px) {
  .accueil {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & .accueil-information {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      margin: 0;

      & .information-dev {
        width: 400px;

        & h1 {
          height: 45px;
        }
      }

      & .information-contact a {
        width: 60%;
      }
    }
  }
}
@media only screen and (min-width: 880px) and (max-width: 1199px) {
  .accueil {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & .accueil-information {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      margin: 0;

      & .information-dev {
        width: 400px;

        & h1 {
          height: 45px;
        }
      }

      & .information-contact a {
        width: 60%;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .accueil {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & .accueil-information {
      & .information-image img {
        width: 460px;
      }
    }
  }
}
@media only screen and (max-width: 645px) {
  .accueil {
    & .accueil-information {
      & .information-image img {
        margin: 0 auto;
        max-width: 90%;
        height: auto;
      }
      & .information-contact a {
        width: 80%;

        &:hover {
          transition: 0.3s all ease-in-out;
          animation-duration: 0s;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .accueil {
    & .accueil-information {
      & .information-image img {
        max-width: 95%;
      }
      & .information-contact a {
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 460px) {
  .accueil {
    & .accueil-information {
      & .information-dev {
        & h2 {
          margin-bottom: 1rem;
          margin-top: 0rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 380px) {
  .accueil {
    & .accueil-information {
      & .information-dev {
        & h1 {
          margin: 40px 0 0 0;
          font-size: 2rem;
        }
        & h2 {
          font-size: 0.9rem;
        }
      }
      & .information-contact a {
        width: 95%;
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  .accueil {
    & .accueil-information {
      & .information-dev {
        & h1 {
          margin: 20px 0 0 0;
          height: 40px;
          font-size: 1.6rem;
        }
        & h2 {
          font-size: 0.75rem;
        }
      }
      & .information-contact a {
        width: 95%;
      }
    }
  }
}
// #######################################

// ############  A PROPOS   ##############
@media only screen and (max-width: 1600px) {
  div.about {
    margin: 0rem 7rem;
  }
}
@media only screen and (max-width: 1500px) {
  div.about {
    & .aboutMe-downloadcv {
      & a {
        margin-top: 2.6rem;
      }
    }
  }
}
@media only screen and (max-width: 1415px) {
  div.about {
    margin: 0rem 2rem;
    & .aboutMe-downloadcv {
      & a {
        margin-top: 3rem;
      }
    }
  }
}
@media only screen and (max-width: 1390px) {
  div.about {
    margin: 0rem 3rem;
    & .aboutMe-downloadcv {
      & a {
        margin-top: 2.5rem;
      }
    }
  }
}
@media only screen and (max-width: 1290px) {
  div.about .aboutMe-downloadcv {
    & a {
      margin-top: 1.7rem;
    }
  }
}
@media only screen and (max-width: 1240px) {
  div.about article .aboutMe h4 {
    margin-bottom: 2.5rem;
  }
  div.about .aboutMe-downloadcv {
    & a {
      margin-top: 1rem;
    }
  }
}
@media only screen and (max-width: 1195px) {
  div.about article .aboutMe h4 {
    margin-bottom: 2rem;
  }
  div.about .aboutMe-downloadcv {
    & a {
      margin-top: 0.8rem;
    }
  }
}
@media only screen and (max-width: 1170px) {
  div.about article .aboutMe h4 {
    margin-bottom: 1.4rem;
  }
  div.about .aboutMe-downloadcv {
    & a {
      margin-top: 0.5rem;
    }
  }
}
@media only screen and (max-width: 1130px) {
  div.about article .aboutMe h4 {
    margin-bottom: 1.2rem;
  }
  div.about .aboutMe-downloadcv {
    & a {
      margin-top: 0.7rem;
    }
  }
}
@media only screen and (max-width: 1110px) {
  div.about article .aboutMe h4 {
    margin-bottom: 1.3rem;
  }
  div.about .aboutMe-downloadcv {
    & a {
      margin-top: 0.7rem;
    }
  }
}
@media only screen and (max-width: 1070px) {
  div.about {
    flex-direction: column;
    margin: 1rem 10rem;

    & aside {
      margin: 0 auto;
      width: 100%;
      & figure img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        text-align: center;
      }
      & .about-text_networks {
        width: 100%;
      }
      & .about-text {
        margin: 0 auto;
        width: 100%;
      }
    }
    & article {
      width: 100%;
    }
  }
  div.about article .aboutMe h4 {
    margin: 4rem 0;
  }
  div.about .aboutMe-downloadcv {
    & a {
      margin-top: 2rem;
    }
  }
}
@media only screen and (max-width: 815px) {
  div.about {
    flex-direction: column;
    margin: 1rem 6rem;
  }
}
@media only screen and (max-width: 680px) {
  div.about {
    flex-direction: column;
    margin: 1rem 3rem;
  }
}
@media only screen and (max-width: 590px) {
  div.about {
    flex-direction: column;
    margin: 1rem 1.8rem;

    & aside {
      & .about-text_networks {
        font-size: 0.8rem;
        & .about-text {
          padding-left: 50px;
        }
      }
    }
    & article {
      .aboutMe {
        h2 {
          font-size: 40px;
        }
        h3 {
          font-size: 17px;
          letter-spacing: 7px;
        }
        & > p {
          height: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 530px) {
  div.about {
    flex-direction: column;
    margin: 1rem 1.5rem;

    & aside {
      & .about-text_networks {
        & .about-text {
          padding-left: 40px;
        }
      }
    }
    & article {
      .aboutMe {
        h3 {
          letter-spacing: 5px;
        }
        & .skill-bars {
          & .bar {
            & .info {
              & .nameskill {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 460px) {
  div.about {
    flex-direction: column;
    margin: 1rem 1rem;

    & aside {
      & .about-text_networks {
        & .about-text {
          padding-left: 15px;
        }
      }
    }
    & article {
      .aboutMe {
        h2 {
          font-size: 30px;
        }
        h3 {
          font-size: 16px;
        }
      }
    }
  }
}
@media only screen and (max-width: 420px) {
  div.about {
    flex-direction: column;
    margin: 1rem 0.8rem;

    & aside {
      & .about-text_networks {
        & .about-text {
          font-size: 0.6rem;
          padding-left: 15px;
        }
      }
    }
    & article {
      .aboutMe {
        h2 {
          font-size: 29px;
        }
        h3 {
          font-size: 15px;
          letter-spacing: 5px;
        }
        & > p {
          height: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  div.about {
    & article {
      .aboutMe {
        h3 {
          letter-spacing: 5px;
        }
        & .skill-bars {
          & .bar {
            & .info {
              & .nameskill {
                font-size: 9.5px;
              }
            }
            & .progress-line {
              & span {
                &::after {
                  padding: 3px 5px;
                  top: -25px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 370px) {
  div.about {
    flex-direction: column;
    margin: 1rem 0.6rem;

    & aside {
      & .about-text_networks {
        & .about-text {
          font-size: 0.5rem;
          padding-left: 0px;
        }
      }
    }
    & article {
      .aboutMe {
        h2 {
          font-size: 25px;
        }
        h3 {
          font-size: 14px;
          letter-spacing: 4px;
        }
        & > p {
          height: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 330px) {
  div.about {
    flex-direction: column;
    margin: 1rem 0.6rem;

    & aside {
      & .about-text_networks {
        & hr {
          margin-top: 20px;
        }
        & .about-text {
          display: none;
        }
      }
    }
    & article {
      .aboutMe {
        h2 {
          font-size: 20px;
        }
        h3 {
          font-size: 13px;
          letter-spacing: 3px;
        }
        & > p {
          height: 100%;
        }
        & .skill-bars {
          & .bar {
            & .info {
              & .nameskill {
                font-size: 12px;
              }
            }
            & .progress-line {
              & span {
                &::after {
                  display: none;
                }
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
// #######################################

// ##########   COMPETENCE   #############
@media only screen and (max-width: 1300px) {
  div.EXP {
    padding: 3em 5em 3em 5em;
  }
}
@media only screen and (max-width: 800px) {
  div.EXP {
    padding: 3em 2em 3em 2em;
  }
}
@media only screen and (max-width: 750px) {
  div.EXP {
    padding: 3em 2em 3em 2em;

    & #EXP-list {
      flex-direction: column;
      & h4 {
        text-align: center;
        display: block;
        background: $bluesky;
        border-radius: 5px;
        padding: 11px 20px 8px 10px;
        color: white;
      }
    }
    & .EXP-list-L {
      margin-right: 0em;
      margin-bottom: 4em;
    }

    & .EXP-legend h2 {
      white-space: normal;

      & em {
        letter-spacing: 3px;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  div.EXP {
    padding: 3em 2em 3em 2em;

    & #EXP-list {
      flex-direction: column;
      & h4 {
        text-align: center;
        display: block;
        background: $bluesky;
        border-radius: 5px;
        padding: 11px 20px 8px 10px;
        color: white;
      }
    }
    & .EXP-list-L {
      margin-right: 0em;
      margin-bottom: 4em;
    }

    & .EXP-legend h2 {
      white-space: normal;

      & em {
        letter-spacing: 3px;
      }
    }
  }
}
@media only screen and (max-width: 570px) {
  div.EXP {
    padding: 3em 1em 3em 1em;
    & .EXP-list-L {
      margin-right: 0em;
      margin-bottom: 4em;
    }

    & .EXP-legend h2 {
      font-size: 30px;
      white-space: normal;
      &::first-letter {
        font-size: 40px;
      }
      & span {
        font-size: 25px;
      }
      & em {
        display: block;
        margin-top: 1.2rem;
        letter-spacing: 1px;
      }
    }
  }
}
@media only screen and (max-width: 300px) {
  div.EXP {
    padding: 3em 0.5em 3em 0.5em;
  }
}
// #######################################

// #########    NAVIGATION    ############
@media only screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    & ul {
      justify-content: right;
      width: 830px;
    }

    & li {
      text-align: right;
      margin: 0 2rem;
    }
    .navigation--modifier {
      width: 400px;
      height: 1px;
    }
  }
}
@media only screen and (min-width: 880px) and (max-width: 1199px) {
  .navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    & ul {
      justify-content: space-around;
      width: 100%;
    }

    & li {
      text-align: right;
      margin: 0 2rem;
    }
  }
}
@media only screen and (max-width: 800px) {
  #root .myProjets,
  .accueil,
  .competence,
  .aPropos,
  .contact {
    & .navigation {
      & ul {
        justify-content: space-between;
        padding: 10px 0.9rem;
      }
    }
  }
}
@media only screen and (max-width: 580px) {
  #root .myProjets,
  .accueil,
  .competence,
  .aPropos,
  .contact {
    & .navigation {
      & ul {
        & li {
          font-size: 1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  #root .myProjets,
  .accueil,
  .competence,
  .aPropos,
  .contact {
    & .navigation {
      & ul {
        padding: 10px 0.5rem;
        & li {
          font-size: 0.9rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 420px) {
  #root .myProjets,
  .accueil,
  .competence,
  .aPropos,
  .contact {
    & .navigation {
      & ul {
        padding: 15px 0.3rem;
        & li {
          font-size: 0.8rem;
          height: 15px;
        }
      }
    }
  }
}
@media only screen and (max-width: 370px) {
  #root .myProjets,
  .accueil,
  .competence,
  .aPropos,
  .contact {
    & .navigation {
      & ul {
        padding: 15px 0.2rem;
        & li {
          font-size: 0.7rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 370px) {
  #root .myProjets,
  .accueil,
  .competence,
  .aPropos,
  .contact {
    & .navigation {
      & ul {
        padding: 15px 0.15rem;
        & li {
          font-size: 0.6rem;
        }
      }
    }
  }
}
// #######################################


// ############   CONTACT   ##############
@media only screen and (max-width: 1400px) {
  body .contact-form_contact {
    display: block;

    & .contact-map {
      margin-top: 5rem;

      & iframe {
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  .contact .contact-container {
    margin: 2em 20em 0 5em;
  }
}
@media only screen and (max-width: 740px) {
  .contact .contact-container {
    margin: 2em 1em 0 1em;

    & .contact-legend {
      & h2 {
        & em {
          display: block;
          margin: 2rem 0 0 0;
        }
      }
    }

    &:after {
      display: none;
    }
  }
  .contact .contact-text .icontxt {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .contact .contact-container {
    margin: 2em 0em 0 1em;

    & .contact-legend {
      & h2 {
        & em {
          letter-spacing: 4px;
        }
      }
    }
  }
}
// #######################################
