.About-terminal {
  display: block;
  margin-top: 2rem;
  height: 500px;
}

#index_terminalContainer__3q4m3 {
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  // .index_editor__2tqRz {
  //     color: $green-terminal;

  // }
}
