// --- Mouvement bouton au hover ---

@mixin mouvementBTN {
  transform: scale(1.05);
  filter: saturate(110%);
  box-shadow: 0px 0px 30px 0px $bluesky;

  animation-name: mooveNow;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: top center;

  @keyframes mooveNow {
    20% {
      transform: rotate3d(0, 0, 1, 1.8deg);
    }

    40% {
      transform: rotate3d(0, 0, 1, -1.8deg);
    }

    60% {
      transform: rotate3d(0, 0, 1, 0.8deg);
    }
  }
}
