

$bluesky           : #6cb0f6;
$gray              : #727272;
$grayLight         : #7272728c;
$black             : black;
$white             : white;
$centerbanner      : #f8f9fb;
$green-terminal    : #1ff042;
$vert              : #77d7b9;