

// ************   FONT    ******************
// ------------  globale  ---------------
//---------------------------------------
$Font1             : "Josefin Sans", "Lato", sans-serif;
$Font2             : "Lato", "Josefin Sans", sans-serif;
//---------------------------------------
// *****************************************



// ************   COLOR   ******************
// ------------  globale  ---------------
//---------------------------------------
$colorGradient     : linear-gradient( 60deg, #ffdc80, #fcaf45,#f77737,#f56040,#fd1d1d,#e1306c,#c13584 60%,#833ab4,#5851db,#405de6 120% );
$colorGradientDark : linear-gradient(315deg, #7a7adb 0%, #170e13 74%);
$bluesky           : #6cb0f6;
$gray              : #727272;
$grayLight         : #7272728c;
$black             : black;
$white             : white;
$centerbanner      : #f8f9fb;
$green-terminal    : #1ff042;
$vert              : #77d7b9;
//---------------------------------------
// *
// *
// *
// *
// -----------  special cv  -------------
//---------------------------------------
$red-cv            : rgba(234,40,58, 1);
$redDark-cv        : rgba(200,40,48, 1);
$grayspecial-cv    : rgba(39,45,59, 1);
$redLVLUP-cv       : rgba(255,0,0, 1);
$redLVLDOWN-cv     : rgba(112,0,0,1);
//---------------------------------------
// *****************************************